{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% include "include/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title }}{% endblock %}

{% block content %}
<div class="container content">
  <div class="article_date">
    <i class="fa fa-clock-o"></i> {{ article.locale_date }}
  </div>
  <div class="article_tags">
    <i class="fa fa-tags"></i> {% for tag in article.tags %}
    <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}"> {{ tag }} · </a>
    {% endfor %}
  </div>
  <div class="article_title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </div>
  <div class="article_user">
    {% if article.authors %}
      {% for author in article.authors %}
        <img class="avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}">
        <span class="author" href="{{ SITEURL }}/{{ author.url }}"> &nbsp;{{ author }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="article">
    {{ article.content }}
  </div>

  <br>
  <a href="#" class="go-top">Go Top</a>
  {% if ADD_THIS_ID %}
  <div class="addthis_native_toolbox"></div>
  {% endif %}
  <br>
    {% if DISQUS_SITENAME %}
    {% include 'include/disqus.html' %}
    {% endif %}
  <br>
</div>
{% endblock %}
