<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% if FAVICON %}
<link rel="shortcut icon" href="{{FAVICON}}" type="image/x-icon" />
{% endif %}
{% if FEED_ATOM %}
<link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Atom Feed"/>
{% endif %}
{% if FEED_RSS %}
<link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
{% endif %}
{% if GOOGLE_FONTS %}
<link href="//fonts.googleapis.com/css?family={{ GOOGLE_FONTS | join('|') | replace(' ', '+') }}" rel="stylesheet" type="text/css">
{% endif %}
<link href="{{ SITEURL }}/theme/css/lanox.css" rel="stylesheet">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% block head %}
<meta name="author" content="{{ AUTHOR }}" />
<meta name="description" content="{{ SITEDESCRIPTION }}" />
{% include "include/og.html" %}
{% endblock head %}
<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>

<header>
  <div class="logo">
      <!--<h1>LP</h1>-->
    </div>
    {% if COVER_IMG_URL %}
    <div class="hero" style="background-image: url('{{ COVER_IMG_URL }}')">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
          <div class="tagline"> {{ TAGLINE}} </div>
        </h1>
    {% endif %}
    </div>

<!-- Menu Starts From Here -->
  <div class="container menu">
    <ul>
        {% for title, link in MENU_ITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    <!--<hr> This prints orange line under the menu -->
 </div>
<!-- Menu ends above this comment -->
</header>

<body>
  {% block content %}{% endblock %}
  {% include "include/footer.html" %}
  {% include "include/ga.html" %}
  {% if ADD_THIS_ID %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADD_THIS_ID }}" async="async"></script>
  {% endif %}
</body>
</html>
