{% extends "base.html" %}
{% block content %}
<div class="container content">
    <ul class="recent-posts">
      <li>
          {% for article in articles_page.object_list %}
          <a href="{{ SITEURL }}/{{ article.url }}">
        <div>
          <span class="title" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</span>
          <span class="date" "{{ article.date.isoformat() }}"> {{ article.locale_date }}</span>
        </div>
        </a>  
         {% endfor %}        
      </li>
    </ul>
</div>

{% include 'pagination.html' %}
{% endblock content %}
