{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}

{% block content %}
<div class="container content">
  <div class="employer_row">
    <h2>Employer</h2>
    <div class="col-work">
      <a href="http://tyro.com">
        <img src="{{ STATIC }}/images/work/tyro.png">
      </a>
    </div>  
    <h2>Previous Employers</h2>
    <div class="col-work">
      <a href="http://qbe.com.au">
        <img src="{{ STATIC }}/images/work/qbe.jpg">
      </a>
      <a href="http://tasol.com.au">
        <img src="{{ STATIC }}/images/work/tas.png">
      </a>
    </div>
  </div>
</div>  
{% endblock %}
