<header>
  <div class="logo">
      <h1>LP</h1>
    </div>
    {% if COVER_IMG_URL %}
    <div class="hero" style="background-image: url('{{ COVER_IMG_URL }}')">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a>
          <div class="tagline"> {{ TAGLINE}} </div>
        </h1>
    {% endif %}
    </div>

<!-- Menu Starts From Here -->
  <div class="container menu">
    <ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    <!--<hr> This prints orange line under the menu -->
 </div>
<!-- Menu ends above this comment -->
</header>